* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    background: #efe2fe; 
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  
}

header {
    background: #efe2fe; /* Gradient background from top (#F5F7FA) to bottom (#D1D9E6) */
    color: #18191F;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.nav-links li {
    margin-left: 40px;
}

.nav-links a {
    color: #000236;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background: #000236;
    margin: 5px;
}

.hero {
    background: #efe2fe; 
    display: flex;
    height: 100vh;
    padding-top: 60px;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    text-align: center; /* Center content text */
    color: #18191F; /* Adjust text color to ensure readability */
}

.hero-content {
    position: relative; /* Ensure content is positioned correctly */
    z-index: 1; /* Ensure content is above the background */
}


.hero-text {
    flex: 1;
    padding: 40px 80px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    color: #000236;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #8c8c8e;
}

.hero-text button {
    padding: 10px 20px;
    font-size: 1rem;
    background: #4CAF4F;
    color: #FDFDFD;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    max-width: 160px;
}

.hero-text button:hover {
    background: #388E3C;
}

.hero-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

.content-section {
    display: flex;
    padding: 50px 20px;
}

.content-image, .content-text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: flex-start;
}

.content-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000236;
}

.content-text p {
    font-size: 1rem;
    color: #8c8c8e;
    margin-right: 60px;
}

.cards {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
}

.card {
    background: #fff;
    padding: 20px;
    border: 0.1px solid #ddd;
    text-align: center;
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card i {
    font-size: 2rem;
    margin-bottom: 20px;
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #000236;
}

.card p {
    font-size: 1rem;
    color: #8c8c8e;
}

.heading{
    color: #18191F;
    font-size: 2rem;;
}

.skills-box {
    text-align: center;
    padding: 20px;
}

.card-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.skills-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill {
    width: 150px;
    text-align: center;
    margin: 20px;
}

.sk-progress {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
}

.sk-progress svg {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

.sk-progress circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 8;
    cx: 75;
    cy: 75;
    r: 68;
}

.sk-progress circle.bg {
    stroke: #e0e0e0;
}

.sk-progress circle.progress {
    stroke: #b261cb;
    stroke-dasharray: 427;
    stroke-dashoffset: 427;
    transition: stroke-dashoffset 1s linear;
}

.sk-title {
    font-size: 1.2rem;
    color: #333;
}

.counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #333;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

.contact-section {
    padding: 50px 0;
    text-align: center;
}

.contact-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000236;
}

.contact-form {
    max-width: 600px;
    margin: auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #64AD63;
    border-radius: 4px;
    font-family: "Inter", sans-serif;
}

.form-group textarea {
    resize: vertical;
}

.form-group button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4CAF4F;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-family: "Inter", sans-serif;
    margin-right: 500px;
}

.form-group button:hover {
    background-color: #388E3C;
}

.portfolio-section {
    background-color: #F5F7FA;
    padding: 50px 0;
    text-align: center;
}

.portfolio-section h2 {
    font-size: 2.5rem;
    color: #000236;
    margin-bottom: 20px;
}

.portfolio-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4CAF4F;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.portfolio-button:hover {
    background-color: #388E3C;
}

a {
    color: #fff;
    text-decoration: none;
}

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    margin-right: 20px;
}

.footer-logo img {
    max-width: 100px;
}

.contact-info {
    text-align: left;
    flex: 1;
}

.contact-info p {
    font-size: 1rem;
    margin: 5px;
}

.contact-info p i {
    margin-right: 5px;
}

.map {
    flex: 1;
    max-width: 300px;
    text-align: left;
}

.map iframe {
    width: 100%;
    height: 200px;
    border: none;
}

.copyright {
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 768px) {

    header {
        padding: 10px 10px; /* Reduce padding to fit within mobile screen */
    }
    
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #efe2fe;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .burger {
        display: block;
    }

    .burger.active + .nav-links {
        display: flex;
    }

    .hero {
        flex-direction: column;
        padding-top: 60px;
        padding-bottom: 20px;
        height: auto;
    }

    .hero-text {
       
        padding: 20px 20px 0 20px;
     
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-text button {
       
        margin-bottom: 20px;
    }

    .hero-image {
        margin-top: 20px;
    }

    .content-section {
        flex-direction: column;
    }

    .content-text {
        order: 1;
        padding-bottom: 20px;
    }

    .content-text p {
        margin-right: 0px;
    }

    .content-image {
        order: 2;
        margin-top: 20px;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .form-group input,
    .form-group textarea {
        font-size: 0.9rem;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-logo {
        margin: 0 0 20px;
    }

    .contact-info {
        text-align: center;
    }

    .map {
        max-width: 100%;
        margin-top: 20px;
    }
}
